body {
}
h3 {
    padding-top: 10px;
}
img {
    padding: 5px;
}
.container-fluid{
    padding: 0px;
}

.navbar-dark .navbar-nav .dropdown-item  .nav-link {
    color: black;
}

.row-img{
    margin: 0px auto;
    height: 70px;
    display: block;
    padding: 10px;
}

li.list-group-item{
    border: 0px;
    margin: 1px;
}
li.list-group-item img{
    float: left;
}
h5.list-group-item-heading{
    font-size: 48px;
    float: left;
    padding-top: 2px;
}
p.list-group-item-text{
    float: left;
    color: gray;
    font-size: 12px;
    margin-top: 32px;
}